{{!< layout}}
<script type="text/javascript">
    const MC_BASE_URL = "{{MC_BASE_URL}}";
    const JWTToken = "{{token}}";
    //const loginState = "{{loginState}}";
    //const loginURL = "{{{loginURL}}}";
    //const mcAccessToken = "{{mcAccessToken}}";
    //const loggedUser = "{{{user}}}";
</script>
<link rel="stylesheet" href="/css/editor.css" type="text/css" />
<script src="/js/editor.js" type="module"></script>
<div class="ac-content" id="editor-content"></div>
