{{!< layout}}
<script type="text/javascript">
    const MC_BASE_URL = "{{MC_BASE_URL}}";
    const JWTToken = "{{token}}";
    const loginState = "{{loginState}}";
    const loginURL = "{{{loginURL}}}";
    const mcAccessToken = "{{mcAccessToken}}";
    const loggedUser = "{{{user}}}";
    console.log(images);
</script>
<script src="/js/editor/issue-content.js" type="module"></script>
<div class="aui-group">
    <div class="ac-content" id="editor-content"></div>
</div>
{{!-- <div class="aui-group">
    <div class="aui-item">
        <div id="images" style="display: flex; overflow-x: scroll;">
            {{#each images}}
                <div style="position: relative; margin: 5px;">
                    <img src="{{this.url}}" alt="{{this.name}}" style="width: 150px; height: 150px;">
                    <button onclick="viewDiagram('{{this.url}}')" style="position: absolute; top: 5px; left: 5px;">View</button>
                    <form action="/delete-diagram" method="POST" style="position: absolute; top: 5px; right: 5px;">
                        <input type="hidden" name="issueKey" value="{{../issueKey}}">
                        <input type="hidden" name="diagramId" value="{{this.id}}">
                        <button type="submit">X</button>
                    </form>
                </div>
            {{/each}}
        </div>


        {{!-- <button id="button-add" onclick="openChartSelect()" class="aui-button aui-button-primary">
            <span class="picker-inline-button__text">Add diagram</span>
        </button> --}}
        <div>
            <p>Visualize your task with diagrams</p>
        </div>
        <button onclick="openChartSelect()">Connect</button>
        <button onclick="viewDiagram(true)">View</button>
    </div>
</div> --}}