{{!< layout}}
<script type="text/javascript">
    const MC_BASE_URL = "{{MC_BASE_URL}}";
    const JWTToken = "{{token}}";
    const loginState = "{{loginState}}";
    const loginURL = "{{{loginURL}}}";
    const mcAccessToken = "{{mcAccessToken}}";
    const loggedUser = "{{{user}}}";
    const images = "{{images}}"
    const issueKey = "{{issueKey}}"
    console.log(images);
</script>
<script src="/js/editor/issue-content.js" type="module"></script>
<div class="aui-group">
    <div class="ac-content" id="editor-content"></div>
</div>